/* .App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
  }
  .items{
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 228, 196, 0.63);
    width: 200px;
    color: black;
  
    
  }
  
  .App-header {
    background-color: #f8a596; */
  /*   min-height: 100vh; */
/*     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
   */